@using MyVideoResume.Web.Common
@inherits BaseComponent
@inject CookieThemeService CookieThemeService
<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn SizeXS="1" Size="2">
                <RadzenSidebarToggle Click="@MenuService.SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn SizeXS="1" Size="1">
                <a href="/"><RadzenImage Path="images/logo-login.png" AlternateText="MyVideoResu.me" style="width: 60px; height: 20px;"></RadzenImage></a>
            </RadzenColumn>
            <RadzenColumn SizeXS="10" Size="9">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem" class="rz-px-2">
                    <RadzenMenu Responsive="false">
                        <RadzenMenuItem Icon="add_circle">
                            <RadzenMenuItem Text="Create Job" Path=@Paths.Jobs Icon="note_add"></RadzenMenuItem>
                            <RadzenMenuItem Text="Create Resume" Path=@Paths.Resume_CreateNew Icon="video_call"></RadzenMenuItem>
                        </RadzenMenuItem>
                    </RadzenMenu>
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick">
                        <ChildContent>
                            <RadzenProfileMenuItem Path="account/settings" Icon="manage_accounts" Text="My Account" title="My Account" />
                            <RadzenProfileMenuItem Path="dashboard" Icon="manage_accounts" Text="Dashboard" />
                            <RadzenProfileMenuItem Path="admin/application-users" Icon="person" Text="Users" Visible="@Security.IsInRole("admin")" />
                            <RadzenProfileMenuItem Path="admin/application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole("admin")" />
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            <RadzenGravatar Email="@Security.User?.Name" />
                        </Template>
                    </RadzenProfileMenu>
                    <RadzenAppearanceToggle DarkTheme="standard-dark" />
                    <RadzenLink Icon="login" Path="Login" Text=" Sign In" Visible="@Security.IsNotAuthenticated()" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(MenuService.SidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Dashboard" Path="dashboard" Icon="dashboard" title="Dashboard" />
            <RadzenPanelMenuItem Text="Resumes" Path="resumes" Icon="contract" title="Resumes" />
            <RadzenPanelMenuItem Text="Jobs" Path="jobs" Icon="database" title="Jobs" />
            <RadzenPanelMenuItem Text="Companies" Path="companies" Icon="store" title="Companies" />
            <RadzenPanelMenuItem Text="People" Path="people" Icon="contacts" title="People" />
            <RadzenPanelMenuItem Text="Tools" Icon="handyman" title="Tools">
                <RadzenPanelMenuItem Text="Sentiment Analysis" Path="Tools/SentimentAnalysis" Icon="mood" title="Sentiment Analysis" />
                <RadzenPanelMenuItem Text="Summarize Resume" Path="Tools/SummarizeResume" Icon="query_stats" title="Summarize Resume" />
                <RadzenPanelMenuItem Text="Job Resume Match" Path="Tools/JobResumeMatch" Icon="join_inner" title="Job Resume Match" />
                <RadzenPanelMenuItem Text="PDF to JSON" Path="Tools/pdftojson" Icon="convert_to_text" title="PDF to JSON" />

            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Tasks" Path="tasks" Icon="task_alt" title="Tasks" />
            <RadzenPanelMenuItem Text="Outreach" Path="feed" Icon="campaign" title="Outreach" />
            <RadzenPanelMenuItem Text="About" Path="about" Icon="info" title="About" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <RadzenRow>
            <RadzenColumn Size="11" SizeXS="11" SizeSM="12" SizeMD="12" SizeLG="12" SizeXL="12" SizeXX="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenFooter>
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="12">
                <CopyrightInformation></CopyrightInformation>
            </RadzenColumn>
        </RadzenRow>
    </RadzenFooter>
</RadzenLayout>
<script type="text/javascript" src="https://myvideoresume.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/g2slup/b/8/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=6b2adf83"></script>

