@inherits BaseComponent
@inject CookieThemeService CookieThemeService
<RadzenComponents />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="2">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="5">
            </RadzenColumn>
            <RadzenColumn Size="5">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem" class="rz-px-2">
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick">
                        <ChildContent>
                            <RadzenProfileMenuItem Path="profile" Icon="manage_accounts" Text="My Account" />
                            <RadzenProfileMenuItem Path="dashboard" Icon="manage_accounts" Text="Dashboard" />
                            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole("admin")" />
                            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole("admin")" />
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            @Security.User?.Name
                            <RadzenGravatar Email="@Security.User?.Name" />
                        </Template>
                    </RadzenProfileMenu>
                    <RadzenAppearanceToggle DarkTheme="standard-dark" />
                    <RadzenLink Icon="accessibility" Path="Login" Text="Sign In" Visible="@Security.IsNotAuthenticated()" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px; height:95%">
            <RadzenColumn Size="12" style="height:100%">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" style="z-index: 2">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <a href="/"><RadzenImage Path="images/logo-login.png" AlternateText="MyVideoResu.me" style="width: 120px; height: 40px;"></RadzenImage></a>
        </RadzenStack>
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)">
            <RadzenPanelMenuItem Text="Dashboard" Path="dashboard" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Tools" Icon="handyman">
                <RadzenPanelMenuItem Text="Sentiment Analysis" Path="Tools/SentimentAnalysis" Icon="mood" />
                <RadzenPanelMenuItem Text="Summarize Resume" Path="Tools/SummarizeResume" Icon="query_stats" />
                <RadzenPanelMenuItem Text="Job Resume Match" Path="Tools/JobResumeMatch" Icon="join_inner" />
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="About" Path="about" Icon="question_mark" />
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Create Resume" Click="@(args => NavigateTo("resumes"))"></RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Post Job" Click="@(args => NavigateTo("jobs"))"></RadzenButton>
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>
<RadzenFooter>
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0">
        <RadzenColumn Size="12">
            <CopyrightInformation></CopyrightInformation>
        </RadzenColumn>
    </RadzenRow>
</RadzenFooter>
<script type="text/javascript" src="https://myvideoresume.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/g2slup/b/8/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=6b2adf83"></script>

