@page "/jobs"
@using MyVideoResume.Abstractions.Job
@using MyVideoResume.Data.Models.Jobs
@inherits BaseComponent
@inject JobWebService Service


<PageTitle>MyVideoResu.ME - Jobs</PageTitle>
<RadzenRow>
    <RadzenColumn Size="11">
        <CreateJobOptionsComponent JobCreated=@JobCreated></CreateJobOptionsComponent>
        <RadzenText Text="Jobs" TextStyle="Radzen.Blazor.TextStyle.DisplayH2" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>
        <RadzenCard>
            <AuthorizeView>
                <Authorized>
@*                     <RadzenSelectBar @bind-Value=@ShowGrid TValue="bool">
                        <Items>
                            <RadzenSelectBarItem Icon="table_view" Text="Table" Value="true" />
                            <RadzenSelectBarItem Icon="grid_view" Text="Tile" Value="false" />
                        </Items>
                    </RadzenSelectBar>
 *@                    <RadzenDataGrid Visible=@ShowGrid Responsive=true AllowFiltering="false" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" Data="@Items" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedItems>
                        <Columns>
                            <RadzenDataGridColumn Width="50px" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                <Template Context="data">
                                    @(Items.IndexOf(data) + 1)
                                </Template>
                            </RadzenDataGridColumn>
                                    <RadzenDataGridColumn Property="@nameof(JobItemEntity.Title)" Title="Job Title" Frozen="true">
                                <Template Context="data">
                                    <div style=" max-width: 250px; "><RadzenText style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden;" TextStyle="TextStyle.Body1" title="@(data.Title)">@(data.Title)</RadzenText></div>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="75px" Property="@nameof(JobSummaryItem.CreationDateTimeFormatted)" Title="Date Created" Frozen="false" />
                            <RadzenDataGridColumn Title="Actions" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="false">
                                <Template Context="data">
                                    <RadzenCard Style="background-color: white; padding: 0px !important; margin:0px !important; ">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Text" Icon="delete" Text="Delete" Click=@(()=> Delete(data)) Visible=@DisplayItem(data) />
                                        <RadzenButton ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Icon="edit" Text="Edit" Visible=@DisplayItem(data) Click=@(()=> NavigateTo("resumes/builder", data.Id)) />
                                        <RadzenButton ButtonStyle="ButtonStyle.Dark" Variant="Variant.Text" Icon="preview" Text="View" Click=@(()=> NavigateTo("resumes", data.Id)) />
                                    </RadzenCard>
                                </Template>
                            </RadzenDataGridColumn>
</Columns>
                    </RadzenDataGrid>
@*                     <RadzenRow Visible=@ShowPreview>
                        <JobDisplayPreviewComponent Items=@Items DeleteCompleted=@DeleteCompletedHandler></JobDisplayPreviewComponent>
                    </RadzenRow>
 *@                </Authorized>
                <NotAuthorized>
                    <UnAuthorizedComponent Path=@Paths.Jobs_View></UnAuthorizedComponent>
                </NotAuthorized>
            </AuthorizeView>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

